{% extends "base.html" %}

{% block body %}

<h2 class="  text-center m-0 mt-2 "  style="color:#5a431b; text-decoration:underline; font-weight:bolder; text-shadow:3px 3px 6px;">COLD STORAGE SERVICES</h2>
                <p class=" py-2 px-3 "  style="color:#241f1c; ">There’s a lot that happens within the walls of our Cold Storage facilities. Goods and produce need a lot of care and maintenance and go through many processes before they continue their supply chain journey. Here are some of the services we offer at our Cold Storage facilities:</p>

                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active d-flex justify-content-center" data-bs-interval="200000">
                                        <div class="service hoverclass">
                                            <h4>Export services -</h4>
                                            <h6> Close to source storage</h6>
                                            <ul type="circle">
                                                <li>Fresh fruit receiving</li>
                                                <li>Precooling and packaging</li>
                                                <li>Blast chilling</li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="carousel-item d-flex justify-content-center" data-bs-interval="200000">
                                        <div class="service" style="min-height:400px">

                                            <h4>Export services - </h4>
                                            <h6>Close to factory or port storage</h6>
                                            <ul type="circle">
                                                <li>Frozen receiving</li>
                                                <li>Loading</li>
                                                <li>Container stuffing and VGM</li>
                                                <li>Individual quick freezing/blast freezing</li>
                                                <li>Repalletising</li>
                                                <li>Inspection and quality checks</li>

                                            </ul>

                                        </div>

                                    </div>
                                    <div class="carousel-item d-flex justify-content-center" data-bs-interval="200000">
                                        <div class="service">

                                            <h4>Import services -</h4>
                                            <ul type="circle">
                                                <li>Container unloading</li>
                                                <li>Cross dock or storage</li>
                                                <li>Customs Services</li>
                                                <li>Pick/Pack</li>
                                                <li>Labelling and repacking</li>
                                                <li>Inspection and quality checks</li>
                                                <li>Trans-load container/trucks</li>
                                                <li>Ripening</li>
                                                <li>Sampling</li>

                                            </ul>

                                        </div>

                                    </div>
                                </div>
                                <button class="carousel-control-prev btn1 " type="button"
                                    data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                    <span class="carousel-control-prev" aria-hidden="true"></span>
                                    <span
                                        style=" width:100px;border:2px solid #5a431b;; border-radius:5px; padding:5px; background-color:#5a431b;color:#ebebde;">Previous</span>
                                </button>

                                <button class="carousel-control-next btn2" type="button"
                                    data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                    <span class="carousel-control-next" aria-hidden="true"></span>
                                    <span
                                        style=" width:100px;border:2px solid #5a431b;; border-radius:5px; padding:5px; background-color:#5a431b;color:#ebebde;">Next</span>
                                </button>



                        </div>

















{% endblock body%}