{% extends "base1.html" %}


{% block body %}

<div class="col-sm-9 px-5 py-2">
     <div class="container-fluid py-5 skewbox" style="background-color:#ebebde;  border-radius:25px;">

         <div class="row ">
             <div class="col-sm-12 ">
                 <h4 class="text-center" style="text-decoration:underline; font-weight:bolder; color:#5a431b;text-shadow:3px 3px 6px; font-size:30px;">Admin Login </h4>
                 {% if msg %}

                 <p class="displaymsg "  style="text-align:center; ">{{msg}}</p>
                 <p class="displaymsg "  style="text-align:center; ">Login again</p>


                 {% endif %}

                   <div class="row py-3">
                <div class="col-sm-2"></div>




                 <div class="col-sm-8 border p-3 mt-3 hoverclass" style="border-radius:15px; background-color:#ebebde; border:5px solid #4c4842; box-shadow:4px 10px 24px  5px #5a431b;">
                     <br/>
<form action="{% url 'validate' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
         <label style="font-size:22px; font-weight:bold;">Enter UserID</label>
                                   <input type="text" name="userid" class="form-control" placeholder="Enter User ID" required="true"  style="margin-top:20px;"/>

    </div>



                               <div class="form-group">
                                   <label style="font-size:22px; font-weight:bold; margin-top:20px;">Enter Password</label>
                                   <input type="password" name="password" class="form-control" required="true"   style="margin-top:20px;"/>


                               </div>

<br/>

  <input type="submit" class="btn  " value="login" style="width:50%; background-color:#5a431b ;color:#ebebde; font-weight:bolder;" />






</form>

                       <div class="col-sm-2"></div>
                 </div>


                 </div>
             </div>
         </div>
     </div>
</div>
{% endblock body %}